@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Home控制器下的Index方法";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <h1>欢迎！</h1>
    <div>这个消息来自于Home控制器下的Index视图文件index.cshtml</div>
    <div>@Model.ID</div>
    <div>@Model.Name</div>
</body>

